#mybody{
    background-color: #b49567;
    }

#Simon {
    font-family: cursive;
    color: white;
    background-color:#4187c0 ;
    margin-top: 20px;
    border-radius: 20px;
    border-bottom: 3px solid;
    border-color: black;
    
}

#round {
    font-family: cursive;
    color: white;
    background-color:#4187c0 ;
    margin-top: 20px;
    border-radius: 20px;
    border-bottom: 3px solid;
    border-color: black;
}
#start{
    font-family: cursive;
    color: white;
    background-color:#4187c0 ;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    
}

.simon-button {
    width: 150px;
    height: 150px;
    margin: 20px;
    cursor: pointer;
    opacity: 0.8;
}

#blue {
    border-bottom: 3px solid;
    border-color: black;
    background-color: blue;
    opacity: 0.5;
    padding: 50px;
    border-radius: 30px;
    margin: 5px;

}

#green {
    border-bottom: 3px solid;
    border-color: black;
    background-color: green;
    opacity: 0.5;
    padding: 50px;
    border-radius: 30px;
    margin: 5px;
}


#red {
    border-bottom: 3px solid;
    border-color: black;
    background-color: red;
    opacity: 0.5;
    padding: 50px;
    border-radius: 30px;
    margin: 5px;
}


#yellow {
    border-bottom: 3px solid;
    border-color: black;
    background-color: yellow;
    opacity: 0.5;
    padding: 50px;
    border-radius: 30px;
    margin: 5px;
}


.simon-button.active {
    opacity: 1;
}
